.nav-icon::before {
	content: "\002630";
}

.nav-icon {
	width: 5%;
	font-size: 40px;
	text-align: center;
	border: 1px solid black;
	margin-left: 15px;
}

.nav-icon:hover {
	background-color: gray;
}

.top-bar {
	display: flex;
	height: 20%;
	border: 1px solid black;
	align-items: center;
	justify-content: space-between;
}

.nav-bar {
	display: flex;
	align-items: baseline;
	flex-direction: column;
	width: 10%;
	border: 1px solid black;
}

.nav-bar a {
	border: 1px solid black;
	height: 100%;
	text-align: center;
	color: black;
	font-size: 35px;
	text-decoration: none;
	width: 100%;
	cursor: auto;
}

.alignment {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 80%;
}

.content {
	width: 90%;
	border: 1px solid black;
}

.introduction-card {
	border: 1px solid black;
	width: 15%;
	height: 250px;
	margin: 5px;
}

.introduction-card h2 {
	text-align: center;
}

.introduction-card div {
	background-color: blue;
	width: 200px;
	height: 150px;
}